body{
	background: url(images/UYCP7y.png);
	background-size: cover;
	font-weight: bold;
	color: #000;
}

body>h1{
	text-decoration: underline;
	color: #000;
	text-align: center;
	text-shadow: 5px 2px 2px #fff;
}

#inputdiv1{
	padding-top: 35px;
	border-radius: 20px;
	border-width: 2px;
	border-style: solid;
	border-color: #000;
	text-align: center;
	float: left;
	width: 50%;
}

#inputdiv2{
	padding-top: 35px;
	border-radius: 20px;
	border-width: 2px;
	border-style: solid;
	border-color: #000;
	text-align: center;	
	
}

#buttondiv{
	margin-top: 50px ;
	text-align: center;
}

#buttonid{
	transition-duration: ;
	border-radius: 10px;
	font-size: xx-large;
	background-color: antiquewhite;
}
#buttonid:hover{
	background-color: #000;
	color: white;
}

#output{
	color:#000;
	text-shadow: 5px 2px 3px #fff;
	font-size: larger;
	margin-top: 30px;
	text-align: center;
}

#output2{
	color:#000;
	text-shadow: 5px 2px 3px #fff;
	font-size: larger;
	margin-top: 30px;
	text-align: center;
}